/* Write your CSS here */

body {
    background:#EBEBF0;
    margin: 20px 40px;
    font-family: Arial, sans-serif;
}

h1,
p {
    padding: 20px 40px;
    margin: 0px;background: #FFFFFF;
}






















































































